button.css-ns78wr.edgvbvh1{
  background-color: #555555; color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 250px
}
/* div.css-177yq5e.e16nr0p30 {
  background-color: #FF5733;
  border
} */
